<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/common.css">
    <link rel="stylesheet" href="./index.css">
    
</head>
<body data-preview-mark>
    <!-- 开发、预览时给外层容器添加 data-preview-mark -->
    <!-- 导出时去掉data-preview-mark -->
    <tricky-template>
        <div data-preview-mark class="one-page-site_banner">
            <div class="img-box">
                <img class="one-page-banner-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQx5xZhvs4nAIYTbbX47CSsZCA86AFUwf0IK8IsAAnnPw&s">
                <div data-action class="outline"></div>
                <div data-action class="iconfont icon-edit"></div>
            </div>
        </div>
    </tricky-template>
    <script src="./index.js"></script>
</body>
</html>