<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../assets/common.css">
    <link rel="stylesheet" href="./index.css">

</head>

<body data-preview-mark>
    <tricky-template>
        <div class="one-page-site_nav">
            <a class="logo" href="#">Logo</a>
            <ul class="nav">
                <li>
                    <a href="#">Item1</a>
                </li>
                <li>
                    <a href="#">Item1</a>
                </li>
                <li>
                    <a href="#">Item1</a>
                </li>
                <li>
                    <a href="#">Item1</a>
                </li>
                <li>
                    <a href="#">Item1</a>
                </li>
            </ul>
        </div>
    </tricky-template>
    <script src="./index.js"></script>
</body>

</html>