.one-page-site_nav {
    display: flex;
    height: 60px;
    padding: 0 18px;
    justify-content: space-between;
    align-items: stretch;
    background-color: rgba(61, 91, 31, 0.439);
    .logo{
        display: flex;
        align-items: center;
    }
    ul {
        display: flex;
        align-items:center;
        justify-content: space-between;
        li{
            margin-left: 8px;
            padding: 6px;
            background-color: #ccc;
            a{
                display: inline-block;
                height: 100%;
                width: 100%;
            }
        }
    }
}